*, *:before, *:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.ca-pos-rel{
    position: relative;
}
.ca-sidebar{
    background-color: #F8FAFF;
}
.ca-sidebar{
    .ca-nav-item{
        .ca-nav-link{
            display: block;
            line-height: 1;
            color: #4B494B;
            font-size: 14px;
            font-family: "Work Sans", sans-serif;
            font-weight: normal;
            text-transform: capitalize;

            span{
                font-size: 14px;
            }

            > i, > img{
                color: #197cd5;
                min-width: 25px;
                padding: 0;
                margin: 0;
            }
            > img{
                object-fit: contain;
                object-position: left;
            }

            &:hover, &:focus{
                color: #197cd5;

                > i{
                    color: #197cd5;
                }
            }
        }
    }
}
.ca-navbar{
    background-color: #f8faff;
}
.ca-content#content{
    background-color: #FFFFFF;
}
.ca-card{
    box-shadow: none;
    border: none;
    border-radius: 8px;
    padding: 20px 20px;
}
.ca-card-header{
    background: #f8faff;
    color: #4e73df;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.ca-card-body{
    padding: 20px 25px;
    background-color: #f8faff40;
}
.ca-table-responsive{
    overflow-x: visible;
}
.ca-table{
    border: none;
    border-collapse: separate;
    border-spacing: 0 1em !important;

    thead, tbody, tfoot, tr, th, td{
        color: #000;
        border: none;
        vertical-align: middle;
    }

    tfoot{
        display: none;
    }

    tbody{
        tr{
            background-color: #FFFFFF;
            box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
            border-radius: 8px;
            overflow: hidden;

            th,td{

                &:first-child{
                    border-radius: 8px 0 0 8px;
                }
                
                &:last-child{
                    border-radius: 0px 8px 8px 0px; 
                }
            }
        }
    }
}

.ca-form{
    .ca-form-group{
        width: 100%;

        label{
            display: block;
            width: 100%;
        }

        input, textarea, select{
            border-radius: 0;
            box-shadow: none;
            outline: 0;
            border-width: 2px;
            width: 100%;
            height: 42px;
            color: #000;

            &:focus{
                border-color: #4e73df;
            }
        }
    }

    .ca-textarea{
        textarea{
            resize: none;
            height: 84px;
        }
    }

    .ca-filefilled{
        position: relative;

        > .ca-pos-rel{
            width: 100%;
            // max-width: 320px;
        }

        input{
            position: relative;
            opacity: 0;
            cursor: pointer;
            z-index: 1;

            &:hover, &:focus{
                & ~ span.upload{
                    background-color: #4e73df;
                    color: #FFFFFF;
                }
            }
        }

        input, span.upload{
            width: 100%;
            height: 50px;
        }

        span.upload{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 3px dashed #4e73df;
            color: #4e73df;
            position: absolute;
            top: 0;
            left: 0;
        }

        .input-video{
            margin-top: 10px;
        }
    }

    .ca-selectfilled{
        > .ca-pos-rel{
            &:after{
                content: '\f078';
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translate(0, -50%);
                color: #d1d3e2;
                font-size: 16px;
                font-family: "Font Awesome 5 Free";
                font-weight: 800;
                line-height: 1;

            }
        }
        select{
            appearance: none;
            -webkit-appearance: none;
            cursor: pointer;
        }
    }

    .ca-bttn{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 30px;
        
        button, input{
            border-radius: 0;
            width: 100%;
            max-width: 150px;
            margin-right: 15px;

            &:last-child{
                margin-right: 00;
            }
        }
    }
}

.ca-scroll-top{
    display: inline-flex;
    text-decoration: none !important;
    line-height: 1;

    .fas{
        font-size: 23px;
        margin: auto;
        line-height: 1;
        padding: 0;
    }
}