@import url('../css/fonts.css');

/*
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/
$themeFont: 'HK Grotesk';

/* 
    THEME : START =>
    FOR -- Color, ColorYellow, ColorRed, ColorGreen, ColorText;
*/
$themeColor: #5468FF;
$themeColorSimilar: #7686ff;
$themeColorBase: #00D9CD;
$themeColorOrange: #FF5A00;
$themeColorText: #4B494B;

$themeBootstrapContainer: 1390px;
$themeBootstrapRow: -6px;
$themeBootstrapCol: 6px;

/* THEME : END */


/* 
    GENERAL : START =>
    FOR -- Font;
*/
@mixin themeFont(){
    font-size: 16px;
    font-family: $themeFont;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
}
/* GENERAL : END */
